*.iml
.gradle
/local.properties
/.idea/shelf
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/kotlinScripting.xml
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
/firebase-debug.log
/ui-debug.log
/app/debug/app-debug.aab
/app/google-services.json
/app/release/app-release.aab
/key.properties
/database-debug.log
